<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      h1 {color:red;}
      h3 {color:blue;}
    </style>
    <meta charset="utf-8">
    <title>[-----TITLE-----]</title>
  </head>
  <body>
    <h1 style="text-align:center"> WELCOME TO TEST PAGE !!! </h1>
    <h3 style="text-align:center"> Click below button to fetch data. </h4>
    <input type="button" name="dbdata" value="FETCH DATA FROM MySQL DB!" class="mainButton">
    <span class="target"/>
  </body>
<script>
  var target = document.querySelector('.target')
  document.querySelector('.mainButton').addEventListener('click',async ()=>{
    const data = await fetch('/api')
    target.innerText=await data.text()
  })
</script>
</html>